.title {
    text-align: ce;
    margin-top: 4rem;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    /* padding: 20px; */
    margin-bottom: 60px;
}