body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button {
  background-color: #7c7c7c;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 8px;
}

.product-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-details {
  align-self: center;
  margin-top: 6rem;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 600px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

.quantity-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quantity-selector label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

.quantity-selector select {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.out-of-stock {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}